header.header:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  height: 15px;
  background: #a10f2a;
  border-bottom: 1px #fff solid;
}

h1.header__title a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}
h1.header__title a:link,
h1.header__title a:visited,
h1.header__title a:active {
  text-decoration: none;
}
h1.header__title a span {
  padding: 20px;
  color: #fff;
  text-decoration: none !important;
  font-size: 1.5em;
  width: 268px;
  text-align: center;
}
h1.header__title a img {
  background-color: #a10f2a;
  margin-left: 2%;
  width: 163px;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  h1.header__title a span {
    padding: 10px;
    font-size: 1em;
    width: 190px;
    line-height: 1.2;
  }
  h1.header__title a img {
    width: 133px;
  }
}
